 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    background: #050008;
    color: #eee;
    overflow-x: hidden;
}


/* цифровой дождь */

.rain {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    background:
    radial-gradient(circle at top, #4b0082, transparent 40%),
    linear-gradient(135deg,#050008,#120020);
}


.rain span {
    position: absolute;
    top: -50px;
    animation: fall linear infinite;
}


@keyframes fall {

    from {
        transform: translateY(-100px);
        opacity:0;
    }

    20% {
        opacity:1;
    }

    to {
        transform:translateY(110vh);
        opacity:0;
    }

}



/* главный экран */

.hero {

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

}


.hero h1 {

    font-size:75px;

    letter-spacing:15px;

    color:#c77dff;

    text-shadow:
    0 0 15px #8a00ff,
    0 0 40px #8a00ff;

}


.hero h2 {

    margin-top:20px;

    letter-spacing:6px;

}


.hero p {

    color:#aaa;

    margin-top:20px;

}



/* меню */


nav {

    position:sticky;

    top:0;

    z-index:20;

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:12px;

    padding:20px;

    background:rgba(5,0,10,.8);

    backdrop-filter:blur(15px);

}



nav a {

    color:white;

    text-decoration:none;

    padding:12px 20px;

    border:1px solid #8b35cc;

    border-radius:30px;

    transition:.4s;

}


nav a:hover {

    background:#8b35cc;

    box-shadow:0 0 25px #8b35cc;

    transform:translateY(-3px);

}



/* секции */


section {

    max-width:1000px;

    min-height:70vh;

    margin:auto;

    padding:70px 25px;

}



h2 {

    color:#d19aff;

    font-size:38px;

    margin-bottom:30px;

}




/* карточки */


.card {

    background:

    rgba(20,5,40,.75);


    border:

    1px solid rgba(180,80,255,.35);


    border-radius:20px;


    padding:30px;


    margin:25px 0;


    backdrop-filter:blur(15px);


    box-shadow:

    0 0 30px rgba(140,0,255,.15);


    transition:.5s;

}


.card:hover {

    transform:translateY(-8px);

    box-shadow:

    0 0 40px rgba(180,0,255,.5);

}




button {

    margin-top:20px;

    padding:12px 30px;

    border:none;

    border-radius:30px;

    background:#8b00ff;

    color:white;

    cursor:pointer;

    transition:.3s;

}


button:hover {

    background:#c55cff;

    box-shadow:0 0 20px #c55cff;

}



/* граф связей */


.graph {

    margin-top:40px;

    text-align:center;

    color:#c77dff;

    font-size:30px;

    text-shadow:0 0 15px #8b00ff;

}



/* подвал */


footer {

    text-align:center;

    padding:40px;

    color:#777;

}




/* телефон */


@media(max-width:600px){

.hero h1 {

font-size:40px;

letter-spacing:7px;

}


nav a {

font-size:12px;

padding:8px 12px;

}


section {

padding:40px 15px;

}

}
